<!-- Navigation -->
<style>
    .circleProgress_wrapper{
        float: left;
        margin-top: 3px;
        position: relative;
        width: 50px;
        height: 50px;
        overflow: hidden;
        border-radius: 50%;
        box-sizing: border-box;
        cursor: pointer;

    }
    .circleProgress_wrapper:before{
        position: absolute;
        content: "";
        width: 100%;
        height: 100%;
        background:rgba(0,0,0,0.1) url('https://www.marksoul.cn/img/about-hehe-header.jpg');
        background-size: cover;
        border-radius: 50%;
    }
    .circleProgress_wrapper.rotate:before{
        animation:audioLogoRotate 10s linear infinite;
    }
    @keyframes audioLogoRotate{
        0%{
            transform: rotate(0deg)
        }
        100%{
            transform: rotate(360deg);
        }
    }
    .circleProgress_wrapper:after{
        position: absolute;
        top:4px;
        left: 4px;
        content: "";
        width: 42px;
        height: 42px;
        border-radius: 50%;
        background-color:rgba(0,0,0,0.3);
        background-image:url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACYAAAAoCAMAAACl6XjsAAAAaVBMVEX///8AAAD///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////9ThU/0AAAAI3RSTlPMAJDBnhcQxrqzemtSOiMGAoZfLKqkjXBECoiFhGJIRi4MC3M9axoAAACkSURBVDjLrZRLDoMwDERdwKGkTSkt/X/h/ocEsZmdPVJ46ydFGdsj4VpWaeMhN5kpDp5WyEIMlCblqXW1heZnaqA6mxrolNKk3o2WBrb7o6WBPhEa4nY1qWNwNMRtaaC5exrihmbxVltD3A9HQ9zQLC5KadKRGv0o/4X8QF5KDosfff4ixbDWkvcp9wAR50Cc81OZqvkzxfVlavDTkqWaX9Fk4U9wrwfK2T44TgAAAABJRU5ErkJggg==');
        background-repeat:no-repeat;
        background-position:center;
        background-size:10px 18px;
    }
    .circleProgress_wrapper.rotate:after{
        background-image:url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAiCAMAAAAJbCvNAAAAM1BMVEX///8AAAD///////////////////////////////////////////////////////////+Q8lQ3AAAAEXRSTlPmAOEXHcLcvrtvZlER1IyHDEwQIaQAAABJSURBVDjL7ctbEoAgDEPRBLWK4mP/q/XDIGUJzPT+NXOKY1u+1p2qm2D4ewTONhXCNQmkNs0BAgQYFrirCJj/Qa4i3VTZ6nSRL9xqAzIch8kgAAAAAElFTkSuQmCC');
        background-size:10px 18px;
    }
    .slice{
        position: absolute;
        width: 100%;
        height: 100%;
        clip:rect(0,50px,50px,25px);
    }
    .slice.gt50{
        clip:rect(auto,auto,auto,auto);
    }
    .bar,.fill{
        position: absolute;
        width: 100%;
        height: 100%;
        border: 4px rgba(255, 249, 0, 0.77) solid;
        box-sizing: border-box;
        border-radius: 50%;
        clip: rect(0,25px,50px,0);
    }
    .slice.gt50 .fill{
        transform: rotate(180deg);
    }
</style>
<nav class="navbar navbar-default navbar-custom navbar-fixed-top">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header page-scroll">
            <button type="button" class="navbar-toggle">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{{ site.baseurl }}/">{{ site.title }}</a>
            <div class="circleProgress_wrapper">
                <div id="slice_wrapper" class="slice">
                    <div class="bar pre50"></div>
                    <div class="fill"></div>
                </div>
            </div>
        </div>




        <!-- Collect the nav links, forms, and other content for toggling -->
        <div id="huxblog_navbar">
            <div class="navbar-collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="{{ site.baseurl }}/">Home</a>
                    </li>
                    {% for page in site.pages %}{% if page.title %}
                    <li>
                        <a href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>
                    </li>
                    {% endif %}{% endfor %}
                </ul>
            </div>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
</nav>
<script src="{{ "/js/audioPlayPlugin.min.js " | prepend: site.baseurl }}"></script>
<script>
    var bar=document.querySelector(".slice>.bar"),
        process=0,
        circleProgress=document.querySelector(".circleProgress_wrapper"),
        slice=document.getElementById("slice_wrapper");
    var audio=new audioController({
        src:"/music/music.mp3",
        events:{
            "play":function(){
                addClass(circleProgress,"rotate");
            },
            "timeupdate":function(){
                process=audio.getAttr("currentTime")/audio.getAttr("duration")*360;
                parseInt(process)===180&&addClass(slice,"gt50");
                bar.style="transform:rotate("+(process)+"deg)";
            },
            "pause":function(){
                removeClass(circleProgress,"rotate");
            },
            "ended":function(){
                removeClass(circleProgress,"rotate");
                removeClass(slice,"gt50");
                bar.style="transform:rotate(0deg)";
            }
        }
    });
    circleProgress.addEventListener("click",function(){
        if(audio.getAttr("paused")){
            let playPromise = audio.play();
            if (playPromise !== undefined) {
                playPromise.then(_ => {
                    // 这个时候可以安全的暂停
                    audio.pause();
                })
                    .catch(error => {

                    });
            }
        }else{
            audio.pause()
        }
    });
    function addClass(element,className){
        var oldClass=element.className;
        oldClass.indexOf(className)<0&&(element.className=oldClass+" "+className);
    }
    function removeClass(element,className){
        element.className=element.className.replace(new RegExp("\\s"+className),"");
    }
</script>
<script>
    // Drop Bootstarp low-performance Navbar
    // Use customize navbar with high-quality material design animation
    // in high-perf jank-free CSS3 implementation
    var $body   = document.body;
    var $toggle = document.querySelector('.navbar-toggle');
    var $navbar = document.querySelector('#huxblog_navbar');
    var $collapse = document.querySelector('.navbar-collapse');

    var __HuxNav__ = {
        close: function(){
            $navbar.className = " ";
            // wait until animation end.
            setTimeout(function(){
                // prevent frequently toggle
                if($navbar.className.indexOf('in') < 0) {
                    $collapse.style.height = "0px"
                }
            },400)
        },
        open: function(){
            $collapse.style.height = "auto"
            $navbar.className += " in";
        }
    }

    // Bind Event
    $toggle.addEventListener('click', function(e){
        if ($navbar.className.indexOf('in') > 0) {
            __HuxNav__.close()
        }else{
            __HuxNav__.open()
        }
    })

    /**
     * Since Fastclick is used to delegate 'touchstart' globally
     * to hack 300ms delay in iOS by performing a fake 'click',
     * Using 'e.stopPropagation' to stop 'touchstart' event from 
     * $toggle/$collapse will break global delegation.
     * 
     * Instead, we use a 'e.target' filter to prevent handler
     * added to document close HuxNav.  
     *
     * Also, we use 'click' instead of 'touchstart' as compromise
     */
    document.addEventListener('click', function(e){
        if(e.target == $toggle) return;
        if(e.target.className == 'icon-bar') return;
        __HuxNav__.close();
    })
</script>
